.conteiner_form_button{
  background-color: aliceblue;
  height: 30px;
  padding: 2px 5px;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  border-radius: 10px;
  color: rgb(95, 173, 195);

  &:hover{
    background-color: rgb(143, 222, 244);
    color: #fff;
    border: 1px solid #fff;
    transition: ease-in-out .2s;
  }
}

