.header_logo {
  display: flex;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  font-size: 26px;
  color: rgb(255, 255, 255);

  @media (min-width: 2500px) {
    font-size: 38px;
  }

  &:hover {
    text-shadow: -3px -3px 25px rgb(24, 152, 238);
    transform: scale(1.1);
    transition: ease-in 0.2s;
  }
}

.logo {
  @media (min-width: 2500px) {
    width: 44px;
    height: 44px;
  }
}

.side {
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 20px;

  &_log-out {
    border-bottom: 1px solid #fff;
    padding: 5px;

    &:hover {
      text-shadow: -3px -3px 25px rgb(24, 152, 238);
      transform: scale(1.1);
      transition: ease-in 0.2s;
    }
  }

  &_sign-up {
    border-bottom: 1px solid #fff;
    padding: 5px;

    &:hover {
      text-shadow: -3px -3px 25px rgb(24, 152, 238);
      transform: scale(1.1);
      transition: ease-in 0.2s;
    }
  }
}

.header {
  width: 100%;
  background-color: rgba(133, 226, 238, 0.797);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;

  @media (min-width: 2500px) {
    height: 80px;
  }

  &_sidebar {
    width: 10%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;

    @media (min-width: 2500px) {
      width: 7%;
    }

    @media (max-width: 750px) {
      width: 20%;
    }

    &_user-photo {
      width: 40px;
      height: 40px;
      background-color: rgba(78, 97, 107, 0.503);
      border-radius: 50%;
      border: 1px solid #fff;
      background-size: cover;
      background-position: center;

      @media (max-width: 770px) {
        width: 28px;
        height: 28px;
      }

      @media (min-width: 2500px) {
        height: 44px;
        width: 44px;
      }
    }

    &_input {
      position: absolute;
      width: 34px;
      z-index: 1;
      right: 3px;
      opacity: 0;

      @media (max-width: 750px) {
        width: 24px;
      }

      @media (min-width: 2500px) {
        width: 40px;
      }
    }
  }
}

.user-photo-upgrate {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(78, 97, 107, 0.503);
  border: 1px solid #fff;
  border-radius: 50%;

  @media (max-width: 770px) {
    width: 28px;
    height: 28px;
  }

  @media (min-width: 2500px) {
    height: 44px;
    width: 44px;
  }
}
