.weather-calendar-conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6vh;
}

.conteiner-weather-calendar {
  border-radius: 5px;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;

  &_weather {
    max-width: 30vw;
    height: 10vh;
    display: flex;
  }
}

.weather {
  min-width: 300px;
  height: 100%;
  


  &_block {
    width: 100%;
    min-height: 13vh;
    background-color: rgba(133, 226, 238, 0.797);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5vh;
    border-radius: 5px;
    padding: 0.5vh;
  }
}

.weather_block_loc-time {
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_time {
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    display: flex;
    justify-content: center;
    font-size: 2.6vh;
    font-weight: 300;
  }

  &_location {
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    text-align: center;
  }
}

.weather_block_info {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  align-items: start;
  justify-content: start;

  &_icon {
    margin-bottom: 1vh;
    width: 60px;
    height: 60px;
  }

  &_temp {
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    font-size: 22px;
    margin-top: 1.5vh;
    font-weight: 300;
  }
}

.weather_block_sun {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
  display: flex;
  justify-content: space-around;
  grid-gap: 10px;
  gap: .5vh;

  &_rise {
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    display: flex;
    align-items: center;
    font-size: 1.8vh;
    font-weight: 300;
  }

  &_set {
    color: #fff;
    font-family: "IBM Plex Sans", serif;
    display: flex;
    align-items: center;
    font-size: 1.8vh;
    font-weight: 300;
  }

  
}
.sunrise:before,
.sunset:before {
  content: "";
  display: block;
  width: 2.5vh;
  height: 2.5vh;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 0.5vh;
  }